.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  input {
    border: none;
    font-size: 20px;
    padding-left: 5px;
    &:focus {
      outline: none;
      border: 2px #4654A3 solid;
    }
  }

  .errorInput {
    border: 2px #CE0202 solid;
  }
}