.wrapper {
  width: 1590px;
  height: 70.94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 86.1px;
}

.wrapper a {
  text-decoration: none;
}

.wrapper .searchInput {
  width: 786px;
  height: 47px;
  margin-left: 51px;
  margin-right: 205px;
  position: relative;
}

.wrapper .searchInput svg {
  position: absolute;
  left: 93.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.wrapper .searchInput input {
  width: 786px;
  height: 47px;
  border: none;
  background-color: #E6E9F5;
  color: black;
  font-size: 28px;
  font-weight: 300;
  padding: 7px 0 6px 12px;
  letter-spacing: 1.5px;
  border-radius: 2px;
}

.wrapper .searchInput input:focus {
  outline: none;
  border: 2px #4654A3 solid;
}

.wrapper .searchInput input::-webkit-input-placeholder {
  color: #A5A5A5;
}

.wrapper .searchInput input:-ms-input-placeholder {
  color: #A5A5A5;
}

.wrapper .searchInput input::-ms-input-placeholder {
  color: #A5A5A5;
}

.wrapper .searchInput input::placeholder {
  color: #A5A5A5;
}

.wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 331px;
}

.wrapper .menu a {
  text-decoration: none;
  color: #270949;
}

.wrapper .menu .item {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .menu .item.account {
  width: 53px;
  position: relative;
}

.wrapper .menu .item.account .modalWrapper {
  position: absolute;
  top: 120%;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  height: 0;
}

.wrapper .menu .item.account .modalWrapper .modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 174px;
  border: 2px #4654A3 solid;
  background: #E6E9F5;
  font-weight: 500;
  font-size: 22px;
}

.wrapper .menu .item.account .modalWrapper .modalContent .modalLogin {
  color: white;
  width: 190px;
  height: 47px;
  background: #F95B3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.wrapper .menu .item.account .modalWrapper .modalContent .modalLogin:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.wrapper .menu .item.account .modalWrapper .modalContent .modalRegister {
  width: 190px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px #F95B3D solid;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.wrapper .menu .item.account .modalWrapper .modalContent .modalRegister:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.wrapper .menu .item.compare {
  width: 87px;
}

.wrapper .menu .item.cart {
  width: 41px;
}
/*# sourceMappingURL=Header.module.css.map */