.wrapper {
  margin-left: 51px;
  width: 1322px;
  .sliderWrapper {
    display: flex;
    height: 366px;
    overflow: hidden;
    position: relative;
    .sliderItems {
      display: flex;
      position: absolute;
      left: 0;
      transition: left 0.3s;
      .item {
        display: flex;
        width: 1322px;
        height: 366px;
        background: #4654A3;
        justify-content: space-between;
        color: white;

        &Description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 47px 0 27px 29px;
          width: 331px;
          height: 367px;
          h1 {
            color: white;
            font-size: 30px;
            font-weight: 700;
          }

          p {
            font-weight: 400;
            font-size: 14px;
          }

          a {
            width: 220px;
            height: 58px;
            background: #F95B3D;
            border-radius: 30px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: filter 0.2s;

            &:hover {
              filter: brightness(0.7);
            }
          }
        }

        &Img {
          display: flex;
          align-items: center;
        }
      }
    }

    .dots {
      z-index: 100;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 50%;
      top: 97%;
      transform: translate(-50%, -97%);
      .item {
        display: block;
        content: ' ';
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 100%;
        opacity: 0.5;
        cursor: pointer;

        &.active {
          opacity: 1;
          cursor: auto;
        }
      }
    }
  }

  .offersWrapper {
    margin-top: 120px;
    .title {
      text-align: center;
      span {
        display: block;
        content: ' ';
        width: 100%;
        height: 2px;
        background: #270949;
        border-radius: 2px;
      }
    }

    .offers {
      margin-top: 43px;
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 295px;
        height: 293px;
        background: #E6E9F5;
        color: #270949;
        font-size: 18px;
        font-weight: 400;

        img {
          width: 120px;
          height: 120px;
        }

        h2 {
          font-weight: 500;
        }

        p {
          position: relative;

          &:after {
            display: block;
            content: ' ';
            width: 111px;
            height: 2px;
            background: #F95B3D;
            position: absolute;
            left: -50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform: rotate(20deg);
          }
        }

        a {
          width: 220px;
          height: 39px;
          background: #F95B3D;
          border-radius: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 20px;
          font-weight: 700;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.7);
          }
        }
      }
    }
  }
}