.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  input {
    border: none;
    font-size: 20px;
    padding-left: 5px;
    &:focus {
      outline: none;
      border: 2px #4654A3 solid;
    }
  }

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CE0202;
    color: white;
    width: 310px;
    height: 44px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 110%;

    svg {
      position: absolute;
      left: -2.3%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .errorInput {
    border: 2px #CE0202 solid;
  }
}